.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form-input {
  width: 350px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #00471b;
  outline: none;
}

.form-button {
  padding: 16px;
  font-size: 18px;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
  outline: none;
  background: #00471b;
  color: white;
  text-transform: capitalize;
}